.container {
    max-width: 412px;
    background: $color-gradient-dark;
    border-radius: 30px;
}

.component {
    margin: 32px;
}

//Ratings
fieldset {
    border: 0;
    display: flex;
    flex: 1;
    padding: 0;
    justify-content: space-between;
}

.ratinglink {
    @include font-size;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-dark-blue;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    color: $color-medium-grey;
    cursor: pointer;
    &:hover {
        background-color: $color-medium-grey;
        color: $color-pure-white;
    }
}

.ratingnumber {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    .ratingnumber--score {
        background: $color-dark-blue;
        padding: 0 19px 0 19px;
        border-radius: 22px;
        p {
            color: $color-orange;
        }
    }
}