// Fonts
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700&display=swap');

$font-primary: 'Overpass', sans-serif;

// Colors
$color-gradient-dark: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
$color-dark-blue: #262E38;
$color-light-grey: #969FAD;
$color-medium-grey: #7C8798;
$color-orange: #FC7614;
$color-pure-white: #FFF;
$color-very-dark-blue: #131518;

// Root
:root {
    font-family: $font-primary;
}

//Mixins
@mixin font-size {
    font-size: 15px;
}

// Body
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-very-dark-blue;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
}

// Text
h1 {
    font-size: 28px;
    font-weight: 700;
    color: $color-pure-white;
    margin: 30px 0 15px 0;
}

p {
    @include font-size;
    color: $color-light-grey;
    line-height: 24px;
    margin-bottom: 24px;
}

a {
    text-decoration: none;
}

// Buttons
button {
    border-radius: 22px;
    color: $color-pure-white;
    text-transform: uppercase;
    width: 100%;
    height: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    @include font-size;
    padding: 11px 0 11px 0;
    margin-top: 32px;
}

.primary-background {
    background: $color-orange;
}

// Icons
.star-icon {
    background: $color-dark-blue;
    padding: 16px;
    border-radius: 50%;
}